@import '../main.scss';

.rounds {
	margin-bottom: 50px;
}

.preview-container {
	margin-top: 25px;
}

.preview {
	background-color: #eee;
	border-radius: 6px;
	border-width: 4px;
	border-style: solid;
	border-color: #eee;
}
.preview.is-invalid:hover {
	border-color: $invalid;
}
.preview.is-scheduled:hover {
	border-color: $scheduled;
}
.preview.is-open:hover {
	border-color: $open;
}
.preview.is-closed:hover {
	border-color: $closed;
}
.preview.is-ended:hover {
	border-color: $ended;
}
.preview.is-cancelled:hover {
	border-color: $cancelled;
}
.preview.is-timeout:hover {
	border-color: $timeout;
}

.preview-question {
	line-height: 1;
	padding-top: 5px;
}

.preview-times {
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 16px;
}

.preview-time-ended {
	padding-left: 5px;
}

.preview-right {
	line-height: 1;
}