@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';

@font-face {
  font-family: 'KarmaticArcade';
  src: url('./fonts/karmatic_arcade/ka1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




$primary: rgb(114, 163, 255);
$grey-lighter: #444;


@import 'bulma/bulma.sass';

$link: #000;

body {
	max-width: 960px;
	margin: 0px auto;
	font-family: Verdana, sans-serif;
}

button {
	font-weight: 300;
	font-family: "KarmaticArcade", sans-serif;
	letter-spacing: 5px;
}

.main {
	max-width: 500px;
	margin: 0 auto;
}
