@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';




@font-face {
  font-family: 'KarmaticArcade';
  src: url('./fonts/karmatic_arcade/ka1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	max-width: 960px;
}


$primary: rgb(114, 163, 255);
$grey-lighter: #444;

@import 'bulma/bulma.sass';

p {
	margin: 20px 0px;
}
