@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';

@font-face {
  font-family: 'KarmaticArcade';
  src: url('./fonts/karmatic_arcade/ka1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




$primary: rgb(114, 163, 255);
$grey-lighter: #444;


@import 'bulma/bulma.sass';

$link: #000;

body {
	max-width: 960px;
	margin: 0px auto;
	font-family: Verdana, sans-serif;
}

button {
	font-weight: 300;
	font-family: "KarmaticArcade", sans-serif;
	letter-spacing: 5px;
}

.main {
	max-width: 500px;
	margin: 0 auto;
}

.field-label {
    flex-basis: 70px;
}

span {
    &.is-loading {
        position: relative;
        pointer-events: none; // == disable
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 0.3em);
            left: calc(50% + 0.3em);
            width: $size-large;
            height: $size-large;
            border-width: 0.1em;
        }
    }
}

.dismiss-spinner {
    position: relative;
    pointer-events: none; // == disable
    opacity: 0.5;
    &:after {
        @include loader;
        position: absolute;
        top: calc(50% - 0.55em);
        left: calc(50% + 0em);
        width: $size-medium;
        height: $size-medium;
        border-width: 0.1em;
    }
}


