@import 'bulma/sass/utilities/initial-variables.sass';
@import 'bulma/sass/utilities/functions.sass';


$primary: rgb(175, 49, 95);
$grey-lighter: #444;

$gap: 16px;
$tablet: 500px;
$desktop: 500px;
$widescreen-enabled: false;
$fullhd-enabled: false;
$widescreen: 500px;
$fullhd: 500px;

$link: rgb(175, 49, 95);
$link-hover: rgb(196, 56, 107);


@import 'bulma/bulma.sass';

body {
	max-width: 500px;
	margin: 0px auto;
	font-family: Verdana, sans-serif;
}

button {
	font-weight: 300;
	font-family: "KarmaticArcade", sans-serif;
	letter-spacing: 5px;
}

.field-label {
    flex-basis: 70px;
}

.no-entries {
    margin: 50px 0px;
}

.headline {
    margin-top: 50px;
}

.monotype {
    font-family: $family-monospace;
}

.is-large {
    font-size: 1.5rem;
}

span {
    &.is-loading {
        position: relative;
        pointer-events: none; // == disable
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 0.3em);
            left: calc(50% + 0.3em);
            width: $size-large;
            height: $size-large;
            border-width: 0.1em;
        }
    }
}

.dismiss-spinner {
    position: relative;
    pointer-events: none; // == disable
    opacity: 0.5;
    &:after {
        @include loader;
        position: absolute;
        top: calc(50% - 0.55em);
        left: calc(50% + 0em);
        width: $size-medium;
        height: $size-medium;
        border-width: 0.1em;
    }
}

@import './components/sections/Header.scss';
